:root {
    --body-color: #61e78e;
    --text-color: #0C060F;
    --text-light-color: #4a8d50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--text-color);
    background-color: var(--body-color);
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 2rem;
    padding: 2rem;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.header__image {
    width: 132px;
    border-radius: 100%;
    border: 4px solid var(--text-color);
}

.header__data {
    text-align: center;
}

.header__title {
    font-size: 1.5rem;
}

.header__subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-light-color);
}

.divider {
    height: 2px;
    align-self: center;
    width: 80%;
    border-radius: 5px;
    border-style:solid;
    border-color: var(--text-light-color);
}

.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
}

.link {
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-color);
    border: 3px solid var(--text-color);
    box-shadow: 5px 5px 0 var(--text-color);
    transition: .3s;
    -webkit-tap-highlight-color: transparent;
}

.link:hover, .link:focus {
    box-shadow: 6px 6px 0 var(--text-color);
}

.link-instagram {
    background-color: #F6246B;    
}

.link-linkedin {
    background-color: #0DDAF5;    
}

.link-email {
    background-color: #FC9015;
}

.link-github {
    background-color: #F0EC1E;    
}

.link-meetcompass {
    background-color: #764cf5;    
}

.link-resume {
    background-color: #FF3535;    
}

.footer {
    text-align: center;
    padding-bottom: 2rem;
}

.copyright {
    font-size: .75rem;
    color: var(--container-color);
}

@media screen and (min-width: 768px) {
    .main {
        width: 600px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 4rem 2rem;
    }
}