@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3.5rem;

  --first-color: rgb(105, 58, 233);
  --first-color-alt: rgb(82, 40, 197);
  --first-color-light: rgb(155, 126, 236);
  --first-color-lighten: rgb(202, 186, 247);

  --title-color: rgb(40, 38, 43);
  --text-color: rgb(25, 24, 27);
  --text-color-light: rgb(207, 202, 218);

  --body-color: rgb(255, 255, 255);
  --container-color: rgb(255, 255, 255);
  --shadow: 0 2px 8px rgba(40, 39, 41, 0.144);
  
  --body-font: 'Poppins', sans-serif;
  
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;

  --big-font-size: 2rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --gap: 2rem;
  --border-radius: .5rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;

    --big-font-size: 3.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* --------------- DEFAULTS --------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* body.dark-theme {
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
} */

.section {
  margin: 5rem 0 8rem;
}

.section__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--gap);
}

.section__subtitle,
.section__subtitle-center {
  color: var(--text-color-light);
  font-size: var(--h4-font-size);
  font-weight: normal;
  line-height: 140%;
}

.section__title,
.section__title-center {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color-light);
}

/* --------------- BUTTON --------------- */
.button {
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  padding: .75rem 2.75rem;
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: #fff;
  transition: .3s;
}

.button:hover,
.button:focus {
  border-color: var(--first-color-alt);
  background-color: var(--first-color-alt);
}

.button-icon {
  transition: .3s;
}

.button:hover .button-icon {
  transform: translateX(.25rem);
}

.button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-radius: .25rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
}

.button__icon-icon {
  transition: .3s;
}

.button__icon:hover .button__icon-icon,
.button__icon:focus .button__icon-icon {
  color: var(--first-color)
}

.main {
  overflow: hidden;
}

/* --------------- HEADER --------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  height: calc(var(--header-height) + 1.5rem);
  transition: .3s;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: .55rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__logo:hover,
.nav__logo:focus {
  color: var(--first-color);
}

.scroll-header {
  box-shadow: var(--shadow);
}

/* --------------- HOME --------------- */
.home__container {
  padding: 8rem 0;
  gap: var(--gap);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home__title {
  font-size: 2.5rem;
  line-height: 140%;
}

.home__description {
  margin: .5rem 0 2.5rem 0;
}

.home__image {
  width: 250px;
  border-radius: var(--border-radius);
  justify-self: center;
  box-shadow: var(--first-color-lighten) 20px 20px;
  transition: .3s;
}

.home__image:hover {
  box-shadow: var(--first-color-lighten) 25px 25px;
}

/* --------------- ABOUT --------------- */
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__skills {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
}

.about__skill__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  cursor: default;
}

.about__skill__card-icon {
  font-size: 1.5rem;
  color: var(--first-color-light);
  transition: .3s;
}

.about__card__title {
  margin: 1rem 0 .2rem 0;
  font-size: var(--h3-font-size);
}

.about__card__data {
  font-size: 1rem;
  color: var(--text-color-light);
}

.about__skill__card:hover .about__skill__card-icon {
  transform: translateY(-.25rem);
}

.about__description {
  text-align: center;
  margin: var(--gap) 4rem;
}

/* --------------- SKILLS --------------- */
.skills__container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--gap);
}

.skill__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap);
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: var(--gap) 0;
  width: 475px;
  box-shadow: var(--shadow);
}

.skill__card__title {
  color: var(--first-color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.skill__card__abilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.skill {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
}

.skill__icon {
  font-size: 1.35rem;
  color: var(--first-color-light);
}

.skill__name {
  font-size: var(--normal-font-size);
}

.skill__level {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/* --------------- PROJECTS --------------- */
.projects__container {
  display: flex;
  flex-direction: column; 
  row-gap: 2rem;
}

.project {
  display: flex;
  align-items: flex-start;
  column-gap: var(--gap);
  border-radius: var(--border-radius);
}

.project-background {
  padding: 2rem 2.5rem;
  background-color: var(--first-color);
}

.project-reverse {
  flex-direction: row-reverse;
}

.project__video {
  width: 1200px;
  height: 250px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../images/python-project-thumb-1.png)
  ;
}

.project__video-circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: .3s;
}

.project__video-play {
  font-size: 1.5rem;
  transition: .3s;
}

.project__video:hover .project__video-circle {
  border-color: var(--first-color);
}

.project__video:hover .project__video-play {
  color: var(--first-color);
}

.project__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: .5rem;
}

.project-background .project__title {
  color: hsl(0, 0%, 91%);
}

.project-background .project__description {
  color: hsl(0, 0%, 77%);
}
